<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- {{username}} -->
    <!-- nav bar -->
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="/company_dashboard">
                    <h2>Shortcut Magic</h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">User</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{% url 'company_users' %}">User Registraion</a>
							</div>
						</li>
                        
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">ShortCuts</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/company_globle_shortcut">Globle Shortuts</a>
                                <a class="dropdown-item" href="/company_personal_shortcut">Personal Shortuts</a>
								<a class="dropdown-item" href="/apply_company_globle_shortcut_page">Apply Shortcuts</a>
								
							</div>
						</li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                            </div>
                        </li>
                        

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- nav bar end -->
</body>

</html>