<!-- Update User Profile Insert Modal Start -->
<div class="modal fade" id="update_user_model">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit User</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="edit_msg"></div>
                <form id = "edit_user_form">
                    {% csrf_token %}
                    <div class="from-group" >
                        <label for="Name"  class="form-label">user Id</label>
                        <input type="text" readonly class="form-control" name="edit_user_id" id="edit_user_id">
                    </div>
                    
                    <div class="from-group">
                        <label for="Name" class="form-label">User Name</label>
                        <input type="text" class="form-control" readonly name="edit_username" id="edit_username">
                    </div>
                    <div class="from-group" >
                        <label for="Email">Email</label>
                        <input type="text" readonly class="form-control" id="edit_Email" name="edit_Email">
                    </div>
                    <!-- <div class="from-group">
                        <label for="Phone">Phone</label>
                        <input type="number" class="form-control" id="edit_Phone" name="edit_Phone">
                    </div>
                    <div class="from-group">
                        <label for="Gender">Gender</label>
                        <input type="text" class="form-control" id="edit_Gender" name="edit_Gender">
                    </div> -->
                    
                    <!-- <div class="from-group">
                        <label for="Password" class="form-label">Password</label>
                        <input type="text" class="form-control" name="edit_Password" id="edit_Password">
                    </div> -->
                    <!-- <div class="from-group">
                        <label for="Company_Cde_id" class="form-label">Company_Cde</label>
                        <input type="text" class="form-control" name="Company_Cde_id" id="Company_Cde_id">
                    </div> -->
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn_user_update">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- Party Profile Insert Modal End -->